body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto auto;
  padding: 1em;
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(50% 10% 200 / 40%);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  padding-bottom: 0.5em;
}

nav a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

img {
  max-width: 100%;
  height: auto;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

input,
textarea,
button {
  font: inherit;
}

label,
input,
textarea,
button {
  font: inherit;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding: 1em;
}

.projects h2 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

.mit {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.25s ease-in-out;
}

.mit img {
  width: 40px;
  height: auto;
}

.mit:hover {
  color: var(--color-accent);
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
}

.experience .experience-image {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 1em;
  transition: color 0.25s ease-in-out;
}

.experience-image img {
  width: 40px;
  height: auto;
}

.experience .experience-dates {
  text-align: right;
  white-space: nowrap;
  font-weight: bold;
}

.experience:hover {
  color: var(--color-accent);
}

.experience-image:hover {
  color: var(--color-accent);
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 75%;
  display: inline-flex;
  gap: 0.5em;
}

:root {
  --color-accent: oklch(43.72% 0.1676 27.84);
  --border-gray: oklch(80% 3% 200);
}
